<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <!-- styling-->
    <link rel="stylesheet" href="main.css">

    <title>Mission to Mars</title>
    <div class="jumbotron">
            <div class = "text-center">
                <h1 class="display-4 font-weight-bold">Mission to Mars</h1>
                <a class="btn btn-primary btn-lg align-middle" href="/scrape" role="button">Scrape New Data</a>
            </div>
        </div>
  </head>

  <body>
      <div class = "row p-3">
          <div class = "col-lg-12">
                <h3>Latest Mars News</h3>
                <h5> {{mars_info_sets.latest_news_title}}</h5>
                <p>{{mars_info_sets.latest_news_text}}</p>
          </div>

      </div>
      <div class = "row p-3">
          <div class = "col-lg-8">
              <h3>Featured Mars Image</h3>
              <img class="img-fluid" src="{{ mars_info_sets.featured_image}}">
          </div>
          <div class = "col-lg-4 p-2">
            <div class = "row border border-light">
                <div class = "container-fluid">
                  <h5 class = "align-top">Current weather on Mars</h5>
                  <p>{{mars_info_sets.weather}}</p>
                </div>
            </div>
                <div class = "row mt-5 border border-light">
                    <h5 class = "align-top text-centre"> Mars Facts</h5>
                    <div class = "container-fluid">
                            {{mars_info_sets.mars_facts|safe}}
                    </div>
                    
                </div>
            </div>
          </div>
        <div class = "row p-3">
            <div class = "text-center">
               <h3>Mars Hemispheres</h3> 
            </div>
            
            <div class="card-columns">
                {% for image in mars_info_sets.hemispheres %}
                <div class="card p-3">
                <img class="card-img-top" src="{{image.image_url}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{image.title}}</h5>
                </div>
                </div>
                {% endfor %}
            </div>

        </div>
        

 

 
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  </body>
</html>